/* .footer {
    background-image: url('/src/assets/imgs/Mask Group 84.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
  } */